html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

/* body {
  position: relative;
  min-height: 100vh;
} */


.my-footer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #343a40;
  margin-top: 2rem;
  /* flex-grow: 1; */
  
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.my-footer > .col {
  text-align: center;
  color: #fff;
}

/* <div class="t-store__card__btns-wrapper js-store-buttons-wrapper"><a href="#popup:notavailable" class="js-store-prod-btn2 t-store__card__btn t-store__card__btn_second t-btn t-btn_xs" style="color:#000000;border:1px solid #000000;background-color:#ffffff;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;font-family:TildaSans;font-weight:400;"><span class="js-store-prod-popup-buy-btn-txt">ОФОРМИТЬ ПРЕДЗАКАЗ</span></a></div> */



/* <div class="wbtn" style="display:inline-block;"><a href="#popup:notavailable" class="tn-atom t-btn t-btn_sm" style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-radius: 3px; border: 1px solid rgb(0, 0, 0); font-size: 13px; font-weight: 400; font-family: TildaSans; height: 35px; line-height: normal; text-decoration: none solid rgb(0, 0, 0); text-shadow: none; letter-spacing: normal; text-transform: none; transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s; padding: 0px 15px; margin: 0px 2px 8px; box-shadow: none; display: inline-block; opacity: 1; pointer-events: auto; width: auto;"><table style="width:100%; height:100%;"><tbody><tr><td class="js-store-prod-popup-buy-btn-txt">ОФОРМИТЬ ПРЕДЗАКАЗ</td></tr></tbody></table></a> </div> */