html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.my-footer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #343a40;
  margin-top: 2rem;
  
}

.my-footer > .col {
  text-align: center;
  color: #fff;
}